<!DOCTYPE html>
<html>
<head>
	<title>Billet</title>
<body>
	<img src="http://www.louvre.sylvestre-cao.fr/web/images/logo-louvre.jpg" alt="logo" width="500"/>
	<style type="text/css">
		.content{
			font-size: 5mm;
		}
		.footer{
			margin-top: 100mm;
		}
		.barcode{
			margin-left: 50mm;
		}

	</style>
	<h1>Billet Musée du Louvre</h1>
	<p class="content">
		Type de billet : {{ produit.type }}<br />
		{{ produit.produit }}<br />
		<strong>Date de visite : {{ produit.jour|date('d/m/Y') }}</strong><br />
		Quantité : {{ produit.quantite }} <br />
		<strong>Prix total : {{ produit.amount }} €</strong>
	</p>

<br /><br /><br />

	<qrcode value="{{ produit.token }}" style="width: 40mm; background-color: white; color: black;"></qrcode>

	<div class="barcode"><barcode type="C93" value="{{ produit.token }}" label="label" style="width:30mm; height:10mm; width: 40mm; color: black; font-size: 4mm"></barcode>
	</div>

	<p class="footer">
		Si vous avez commandé plusieurs exemplaires de ce billet, celui-ci vous permettra de
		rentrer dans le musée autant de fois que la quantité indiquée.
	</p>
</body>
</html>