<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Musée du Louvre">
    <meta name="Author" content="WebThemez">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <title>{% block title %}Musée du Louvre{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" >
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-flaty.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/shop-homepage.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}" />
    {% block stylesheets %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.min.js') }}"></script>
    <script src="{{ asset('js/respond.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/selectivizr.js') }}"></script>
    <![endif]-->
</head>

<body>

<!-- Header End -->
<header>
    <!-- Navigation Menu start-->
    {% if app.request.get('_route') == 'louvre_homepage' %}
        <nav id="topNav" class="navbar navbar-default main-menu">
            <div class="container">
                <button class="navbar-toggler hidden-md-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                    ☰
                </button>
                <a class="navbar-brand page-scroll" href="{{ path('louvre_homepage') }}">
                    <img class="logo" id="logo" src="{{ asset('images/logo-louvre.jpg') }}" alt="logo">
                </a>
                <div class="collapse navbar-toggleable-sm" id="collapsingNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#slider">Accueil</a>
                        </li>
                        <li>
                            <a href="#about">À propos</a>
                        </li>
                        <li>
                            <a href="#portfolio">Galerie</a>
                        </li>
                        <li>
                            <a href="#info">Résumé</a>
                        </li>
                        <li>
                            <a href="#clients">Témoignages</a>
                        </li>
                        <li>
                            <a href="{{ path('louvre_billeterie') }}">Billeterie</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% else %}
        <nav id="" class="navbar navbar-default background-custom">
            <div class="container">
                <button class="navbar-toggler hidden-md-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                    ☰
                </button>
                <a class="navbar-brand page-scroll" href="{{ path('louvre_homepage') }}">
                    <img class="logo" id="logo" src="{{ asset('images/logo-louvre.jpg') }}" alt="logo">
                </a>
                <div class="collapse navbar-toggleable-sm" id="collapsingNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="{{ path('louvre_homepage') }}">Accueil</a>
                        </li>
                        <li class="active">
                            <a href="#slider">Billeterie</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endif %}

</header>
<!-- Header End -->

{% block body %}{% endblock %}
<section class="footer-container" style="margin-top: 50px;">
    <div class="container">
        <div class="row footer-containertent">
            <div class="col-md-6" style="text-align: center;">
                <h4>Informations pratiques</h4>
                <p>Horaires : Ouvert tous les jours de 9h à 18h sauf le mardi</p>
                <p>Nocturnes jusqu’à 21h45 le mercredi et le vendredi</p>
                <p>Fermetures : Les 1er mai et 25 décembre</p>
            </div>
            <div class="col-md-6 contac-us" style="text-align: center;">
                <h4>Nous contacter</h4>
                <ul>
                    <li><i class="fa fa-home"></i>99 rue de Rivoli, 75001 Paris</li>
                    <li><i class="fa fa-phone"></i>01 40 20 50 50</li>
                    <li><i class="fa fa-envelope-o"></i>info@louvre.fr</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="footer-containertent">
                <ul class="footer-social-info">
                    <li>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </li>
                </ul>
                <br/><br/>
                <p>Copyright © 2018. Template by: <a href="http://webthemez.com/free-bootstrap-templates/">WebThemez</a>, All rights reserved</p>
            </div>
        </div>
    </div>
</footer>


    <script src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/modernizr.min.js') }}"></script>
{% block javascripts %}{% endblock %}


</body>

</html>
